@import "../global.scss";

div.header{
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 5;
    padding: 0 15px;
    background: rgba(20, 20, 20,0.1);
    justify-content: space-between;
    font-size: 18px;
         ul{
            list-style-type: none;
            margin-right: calc(100% - 20);
            @include mobile{
                display: none;
            }
            a{
                text-decoration: none;
                color: $secColor;
                transition: all 0.7s ease;
                &:hover{
                   color: red; 
                }
            }
            li{
                margin-right: 10px;
                display: inline-block;
            }
        } 
        .menu-icon{
            display: none;
            @include mobile{
                display: block;
            }

        }
}