@import '../../global.scss';
@mixin submit-button{
    width: 320px;
    position: relative;
    color: white;
    background: $secColor;
    margin: 10px auto;
    button,a{
        background: none;
        border: none;
        height: 50px;
        font-size: 25px;
        width: 100%;
        color: inherit;
        &:focus{
            outline: none;
            border: none;
        }
   }
}

@mixin footermixin{
    background: $secColor;
    color: white;
}
div#contact{
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.1);
}

.contact-head{
    color: $mainColor;
    font-size: 22px;
    font-weight: bold;
    border-bottom:2px solid red ;
    width: max-content;
    margin-left: 50%;
    transform: translateX(-50%);
   }

 // styles
main.contact{
    flex: 1;
    display: flex;
     margin-top: 10px;

     div.illustration{
         img{
             width: 80%;
             object-fit: cover;
             object-position:center;
         };
         @include mobile{
             display:none;
         }
     }

    div.the-rest{
        grid-template-rows: auto 1fr auto auto auto;
        justify-items: stretch;
        aside.resume-button{
            margin: 15px 0px;
            text-align: center;
        a{
            width: 320px;
            height: 50px;
            text-decoration: none;
            color:$secColor ;
            border: 1px solid $secColor;
            display: inline-block;
            line-height: 50px;
            vertical-align: middle;
            transition: all 1s ease;
            &:hover{
                color: white;
                background: $secColor;
            }
    
        }
    }

       section.form-stration{
           form{
               margin: 0;
               padding: 0;
            div.fieldset{
                margin: 5px auto;
                position: relative;
                >* {
                    display: block;
                }
                label{
                 position: absolute;
                 transition: all 0.4s ease;
                }
                input{
                  width: 320px;
                  height: 50px;
                  &:focus + label{
                      background:white;
                      padding: 2px;
                      top: 0;
                      transform: translateY(-50%);
                  }
                }
                textarea{
                    width: 320px;
                    height: 100px;
                }
                span{
                    color: red;
                    font-size: 10px;
                }
            }
            div.button{
                @include submit-button();
            }
               svg{
                   position: absolute;
                   top: 50%;
                   left: 60%;
                   transform: translateY(-50%);
                   z-index: 1;
               }
            }
           }
       } 
   }
   footer{
    @include footermixin();
    padding-bottom: 7px ;
    section.social{
        color: white;
        border-bottom:1px solid rgba(170, 150, 150, 0.3);
        border-top:1px solid rgba(170, 150, 150, 0.3);
        padding: 5px;
        a{
            text-decoration: none;
            color: inherit;
            transition: all 1s ease;
            &:hover{
                color: red;
            }
        }
    }
    .footer-contact{
        padding: 10px;
        justify-content: space-between;
        @include mobile{
            font-size: 14px;
        }
    }

    }


