.content{
    position: relative;
    height: calc(100vh - 70px);
    top: 70px;
    scroll-snap-type:y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    &::-webkit-scrollbar{display:none}
    scrollbar-width : none;
    > *{
        height: calc(100vh - 70px);
        scroll-snap-align: start;
        overflow-x: hidden;
    }
    }
    