@import "../../global.scss";
.works{
    position: relative;
    display: flex;
    h2{
        position: absolute;
        left: 50%;
        transform:translateX(-50%);
        z-index: 4;
        color: white;
        font-size: 22px;
        font-weight: bold;
        margin: 2px ;
        border-bottom:2px solid red ; 
       }
    .slider{
        height: 100%; 
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        transition: all 2s ease;
   }
    .container{
        width: 100vw;
        height: 100%;
        position: relative;
        background: $mainColor;
        .item{
            width: 80%;
            height: 80%;
            margin: 0 auto;
            box-shadow: 1px 1px 1px 1px $mainColor;
            border-radius: 5px;
            background: white;


            aside:nth-child(1){
                flex:4;
                img{
                  width: 80%;
                  height: 350px;
                  object-fit: cover;
                  object-position: 0;
                }
                a{
                    margin-top: 5px;
                }
            }
            aside:nth-child(2){
                flex: 2;
            }

             }      
    }
    .arrow{
        position: absolute;
        cursor: pointer;  
        z-index: 2;
        background: white;
         }        
    .arrow-left{
        top: 50%;
        left: 7px;
       }
       .arrow-right{
        top: 50%;
        right: 7px;
    }
    ul{
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        li{
            display: inline-block;
            width: 20px;
            margin: 0 3px;
            height: 20px;
            cursor: pointer;
            border-radius: 50%;
            border: 1px solid $mainColor;
            transition: all 1s linear;
            background: white;
            &.active{
                background: black;
            }
        }
    }

}