@import "../../global.scss";
.works{
    position: relative;
    display: flex;
    h2{
        position: absolute;
        left: 50%;
        margin: 3px;
        transform:translateX(-50%);
        z-index: 4;
        color: white;
        font-size: 22px;
        font-weight: bold;
        border-bottom:2px solid red; 
       }
    .slider{
        height: 100%; 
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        transition: all 2s ease;
   }
    .container{
        width: 100vw;
        height: 100%;
        position: relative;
        background: $secColor;
        .item{
            width: 80%;
            height: 80%;
            margin: 0 auto;
            box-shadow: 1px 1px 1px 1px $mainColor;
            border-radius: 5px;
            background: white;

            .bold{
                border: 2px solid $mainColor;
                padding: 3px
            };
            .project-description{
                font-size: 12px;

            };
            aside:nth-child(1){
                flex:4;
                img{
                  width: 80%;
                  height: 350px;
                  object-fit: cover;
                }
                a{
                    margin-top: 5px;
                }
            }
            aside:nth-child(2){
                flex: 2;
            }

             }      
    }
    .arrow{
        position: absolute;
        cursor: pointer;  
        z-index: 2;
        background: rgba(164, 164, 196,0.7);
         }        
    .arrow-left{
        top: 50%;
        left: 10px;
        @include mobile{
            left: 2px;
            font-size: 30px;
        }
       }
       .arrow-right{
        top: 50%;
        right: 10px;
        @include mobile{
            right: 2px;
            font-size: 30px;
        }
    }
    ul{
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        li{
            @include mobile{
                left: 2px;
                font-size: 30px;
                width: 15px;
                height: 15px;
    
            }
    
            display: inline-block;
            margin: 0 3px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid white;
            transition: all 1s linear;
            &.active{
                background: white;
            }
        }
    }

}