@import "../../global.scss";

div.intro{
flex-direction: column;
overflow: hidden;
 section{
     position: relative;
     height:50%;
     img:first-child{
         width: 100%;
         height: 90%;
         object-fit: cover;
     }
     img:last-child{
         position: absolute;
         width: 200px;
         height: 200px;
         border-radius: 50%;
         bottom: -30px;
         left: 50%;
         transform: translateX(-50%);
         object-fit: cover;
         border: 2px solid white;
         z-index: 5;
     }
     &.intro-bottom{
        .arrow-down{
            svg{
                position: absolute;
                bottom:1px;
                left: 50%;
                transform: translate(-50%,5px);
                font-size: 70px;
                animation:fade 1s infinite alternate linear;
                @keyframes fade{
                    to{
                        opacity: 0.2;
                        transform: translate(-50%,0);

                    }    
            }
            }
         }

         background: #ededed;
         aside{
            p {
                margin: 0;
                color: $secColor;
                text-align: center;
                font-family:"Signika Negative", sans-serif;
                font-size: 23px;
                &.three{
                font-family: "Poppins";
                margin-bottom: 10px;
                }
                a{
                    display: inline-block;
                }

            }
         }
         
     }
 }}

